<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.kyu.qqmusiccontrols</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>729BEF0B-C864-4CCE-AB32-2FBB7E2B182F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5D6DB95-0F61-477B-A2F3-2D81837345B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93DB5E60-FC2A-4DA5-8C80-95F98B49A9AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A003BB7A-AE3E-475B-A476-6C08F5022CA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4D3001D-DDFC-4A4D-8777-B61D47AD32A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>161F11B7-35B5-4753-834F-3C63401B010B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C12314F8-B1B5-4FFC-AC1B-E2C6C2ECFE62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55E609AA-6816-4B7E-88CE-E3B5ADB2DA6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C75BBC96-2A26-4AA9-9EA3-68585B0E398D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED6E3EA4-7187-48F4-841A-01171DB1650E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C12314F8-B1B5-4FFC-AC1B-E2C6C2ECFE62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>93DB5E60-FC2A-4DA5-8C80-95F98B49A9AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>729BEF0B-C864-4CCE-AB32-2FBB7E2B182F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E61F38AC-0C70-4FCA-A576-C81947E205C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FA62B650-3CA9-4DCF-B4B9-6A251D4CB51F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B4D3001D-DDFC-4A4D-8777-B61D47AD32A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E61F38AC-0C70-4FCA-A576-C81947E205C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50313C8B-39EF-4AE7-9DD8-ADE549BF82D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED6E3EA4-7187-48F4-841A-01171DB1650E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EDF473F-1602-4555-AAB3-AAED3168D67C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA62B650-3CA9-4DCF-B4B9-6A251D4CB51F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>503D235E-7693-493B-8CC3-9E1D6698D687</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kaicheng Yu</string>
	<key>description</key>
	<string>Wire the QQ music controls via Global key mapping</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>QQ Music Controls</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events" to tell process "QQMusic"		click menu item 1 of menu 1 of menu bar item 4 of menu bar 1	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1EDF473F-1602-4555-AAB3-AAED3168D67C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>toggle</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>ED6E3EA4-7187-48F4-841A-01171DB1650E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events" to tell process "QQMusic"		click menu item 2 of menu 1 of menu bar item 4 of menu bar 1	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>55E609AA-6816-4B7E-88CE-E3B5ADB2DA6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events" to tell process "QQMusic"		click menu item 3 of menu 1 of menu bar item 4 of menu bar 1	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A003BB7A-AE3E-475B-A476-6C08F5022CA4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>next</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>93DB5E60-FC2A-4DA5-8C80-95F98B49A9AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>prev</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C12314F8-B1B5-4FFC-AC1B-E2C6C2ECFE62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>qm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>wait a sec...</string>
				<key>script</key>
				<string>query="{query}"

python nem.py $query</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>toggle/prev/next/up/down/like</string>
				<key>title</key>
				<string>QQ Music Controls</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C75BBC96-2A26-4AA9-9EA3-68585B0E398D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"		key code 20 using {command down, option down, control down, shift down}	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>B5D6DB95-0F61-477B-A2F3-2D81837345B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"		key code 21 using {command down, option down, control down, shift down}	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>50313C8B-39EF-4AE7-9DD8-ADE549BF82D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>down</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E61F38AC-0C70-4FCA-A576-C81947E205C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>up</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>729BEF0B-C864-4CCE-AB32-2FBB7E2B182F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"		key code 23 using {command down, option down, control down, shift down}	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>503D235E-7693-493B-8CC3-9E1D6698D687</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>like</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>FA62B650-3CA9-4DCF-B4B9-6A251D4CB51F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"		key code 22 using {command down, option down, control down, shift down}	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>161F11B7-35B5-4753-834F-3C63401B010B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>togglelyric</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B4D3001D-DDFC-4A4D-8777-B61D47AD32A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>161F11B7-35B5-4753-834F-3C63401B010B</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>1EDF473F-1602-4555-AAB3-AAED3168D67C</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>50313C8B-39EF-4AE7-9DD8-ADE549BF82D4</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>503D235E-7693-493B-8CC3-9E1D6698D687</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>55E609AA-6816-4B7E-88CE-E3B5ADB2DA6A</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>729BEF0B-C864-4CCE-AB32-2FBB7E2B182F</key>
		<dict>
			<key>note</key>
			<string>Volume Up</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>93DB5E60-FC2A-4DA5-8C80-95F98B49A9AE</key>
		<dict>
			<key>note</key>
			<string>Next</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>A003BB7A-AE3E-475B-A476-6C08F5022CA4</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>B4D3001D-DDFC-4A4D-8777-B61D47AD32A3</key>
		<dict>
			<key>note</key>
			<string>ToggleLyric</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>B5D6DB95-0F61-477B-A2F3-2D81837345B2</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>C12314F8-B1B5-4FFC-AC1B-E2C6C2ECFE62</key>
		<dict>
			<key>note</key>
			<string>Previous</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>C75BBC96-2A26-4AA9-9EA3-68585B0E398D</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>E61F38AC-0C70-4FCA-A576-C81947E205C9</key>
		<dict>
			<key>note</key>
			<string>Volume Down</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>ED6E3EA4-7187-48F4-841A-01171DB1650E</key>
		<dict>
			<key>note</key>
			<string>Play/Pause</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>FA62B650-3CA9-4DCF-B4B9-6A251D4CB51F</key>
		<dict>
			<key>note</key>
			<string>Like</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
